body {
	background-color: #f7f7f7
}

h1 {
	font-size: 32px;
	color: #d73943;
}

h2 {
	font-size: 12px;
}

.wrapper {
	width: 700px;
	height: 500px;
}

.list {
	float: left;
	width: 50%;
}

.send {
	float: right;
	width: 50%;
}