body {
	background-color: #f7f7f7
}

h1 {
	font-size: 32px;
	color: #d73943;
}

h2 {
	font-size: 12px;
}

.wrapper {
	width: 1000px;
	height: 500px;
}

.list {
	float: left;
	width: 50%;
}

.send {
	float: right;
	width: 48%;
}

ul {
	list-style-image: url(../assets/images/adobe-icon.png);
}

.list input {
	float: right;
}

.send p {
	line-height: 0;
}

.send input {
	width: 250px;
}

#bigtext {
	height: 100px;
}